@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

.contenitore{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background:rgba(211, 219, 245, 0.8);
}


.contenitore2{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}



li{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}


.titolo{
  font-size: 50px;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

span{
  font-size: 18px;
}


.input {
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  min-width: 25vw;
}

.input:focus {
  border-bottom: 1px solid #6941c6;
  -webkit-transition: 0.1s;
  transition: 0.5s;
}

button{
margin: 0 25px;
padding: 5px;
}



.check {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  appearance: none;
  background-color: #bbb;
  transition: all .3s;
  margin-right:10px;
 }

 .check::before {
  content: '';
  position: absolute;
  border: solid #fff;
  display: block;
  width: .3em;
  height: .6em;
  border-width: 0 .2em .2em 0;
  z-index: 1;
  opacity: 0;
  right: calc(50% - .3em);
  top: calc(50% - .6em);
  transform: rotate(0deg);
  transition: all .3s;
  transform-origin: center center;
 }

 .check:checked {
  animation: a .3s ease-in forwards;
  background-color: rgb(120, 190, 120);
 }

 .check:checked::before {
  opacity: 1;
  transform: rotate(405deg);
 }

 @keyframes a {
  0% {
   opacity: 1;
   transform: scale(1) rotateY(0deg);
  }

  50% {
   opacity: 0;
   transform: scale(.8) rotateY(180deg);
  }

  100% {
   opacity: 1;
   transform: scale(1) rotateY(360deg);
  }
 }


 .check:hover{
  cursor: pointer;
 }







